In [1]:
import pandas as pd

In [2]:
def get_lenght_sequences(df_data):

    array_length = []

    for index in df_data.index:
        array_length.append(len(df_data['sequence'][index]))
    
    return array_length

In [3]:
df_data = pd.read_csv("../dataset_merge_filter.csv")
df_data_dna_binding = df_data[["ID", "sequence", "dna_interaction"]]
df_data_single_double = df_data[["ID", "sequence", "single dna", "double dna"]]

df_data_dna_binding = df_data_dna_binding.dropna()
df_data_single_double = df_data_single_double.dropna()

In [4]:
len(df_data_single_double)

1234

In [5]:
len(df_data_dna_binding)

47541

In [6]:
df_data_dna_binding['lenght_seq'] = get_lenght_sequences(df_data_dna_binding)
df_data_single_double['lenght_seq'] = get_lenght_sequences(df_data_single_double)

In [7]:
df_data_dna_binding_filter = df_data_dna_binding[(df_data_dna_binding['lenght_seq']<1024) & (df_data_dna_binding['lenght_seq']>50)]
df_data_single_double_filter = df_data_single_double[(df_data_single_double['lenght_seq']<1024) & (df_data_single_double['lenght_seq']>50)]

In [8]:
df_data_single_double_filter

,ID,sequence,single dna,double dna,lenght_seq
31,4G4KA,MDNSVETIELKRGSNSVYVQYDDIMFFESSTKSHRLIAHLDNRQIE...,0.0,1.0,103
52,3V68A,MIERILEFTAKHEEWIVGENVEDFTNENIAMFLSRVSNTVSSKIPG...,0.0,1.0,252
53,4ACOA,MRSSILFLLKLMKIMDVQQQQEAMSSEDRFQELVDSLKPRTAHQYK...,0.0,1.0,956
60,3ULJA,GSDPQVLRGSGHCKWFNVRMGFGFISMTSREGSPLENPVDVFVHQS...,1.0,0.0,90
62,3U50C,QRIYSSIEEIIQQAQASEIGQKKEFYVYGNLVSIQMKNKLYYYRCT...,1.0,0.0,172
...,...,...,...,...,...
47963,P59933,MYNKVILVGNLTRDVELRYLPSGSALAKIGIATNRRFKKQDGSQGD...,1.0,0.0,162
47964,P11031,MPKSKELVSSSSSGSDSDSEVEKKLKRKKQAVPEKPVKKQKPGETS...,1.0,0.0,127
47965,P20703,MDIKVHFHDFSHVRIDCEESTFHELRDFFSFEADGYRFNPRFRYGN...,1.0,0.0,587
47966,P16220,MTMESGAENQQSGDAAVTEAENQQMTVQAQPQIATLAQVSMPAAHA...,0.0,1.0,327
47967,P19436,MAAKKTVTKADLVDQVAQATGLKKKDVKAMVDALLAKVEEALANGS...,0.0,1.0,97

In [9]:
df_data_dna_binding_filter.to_csv("../dataset_to_encode/dna_binding_process.csv", index=False)

In [10]:
dna_single = df_data_single_double_filter[(df_data_single_double_filter['single dna'] == 1) & (df_data_single_double_filter['double dna'] == 0)]
dna_single = dna_single[["sequence"]]
dna_single['type_interaction'] = "single"
dna_single

                                                sequence type_interaction
60     GSDPQVLRGSGHCKWFNVRMGFGFISMTSREGSPLENPVDVFVHQS...           single
62     QRIYSSIEEIIQQAQASEIGQKKEFYVYGNLVSIQMKNKLYYYRCT...           single
74     MGEELREEERGEVRSELITKGEKKLVLIRWNTGKTSAGRLFGRYGP...           single
89     MEGWQRAFVLHSRPWSETSLMLDVFTEESGRVRLVAKGARSKRSTL...           single
188    MARGMNHVYLIGALARDPELRYTGNGMAVFEATVAGEDRVIGNDGR...           single
...                                                  ...              ...
47961  MASRGINKVILVGNLGNDPEIRYMPSGGAVANITVATSETWRDKAT...           single
47962  MARGINKVILVGNLGNDPDTKYTQAGMAITRVSLATTSMRKDRDGN...           single
47963  MYNKVILVGNLTRDVELRYLPSGSALAKIGIATNRRFKKQDGSQGD...           single
47964  MPKSKELVSSSSSGSDSDSEVEKKLKRKKQAVPEKPVKKQKPGETS...           single
47965  MDIKVHFHDFSHVRIDCEESTFHELRDFFSFEADGYRFNPRFRYGN...           single

[268 rows x 2 columns]

In [11]:
dna_double = df_data_single_double_filter[(df_data_single_double_filter['single dna'] == 0) & (df_data_single_double_filter['double dna'] == 1)]
dna_double = dna_double[["sequence"]]
dna_double['type_interaction'] = "double"
dna_double

                                                sequence type_interaction
31     MDNSVETIELKRGSNSVYVQYDDIMFFESSTKSHRLIAHLDNRQIE...           double
52     MIERILEFTAKHEEWIVGENVEDFTNENIAMFLSRVSNTVSSKIPG...           double
53     MRSSILFLLKLMKIMDVQQQQEAMSSEDRFQELVDSLKPRTAHQYK...           double
208    MPKSEIRKLLQEIKKQVDNPGNSSTTEIKKMASEAGIDEQTAEEIY...           double
251    ENSVFFGKKKKVSLHLLVDPDMKDEIIKYAQEKDFDNVSQAGREIL...           double
...                                                  ...              ...
47908  MNEIVVKGARVHNLKNITVRIPKNRLVVITGVSGSGKSSLAMDTIY...           double
47909  MADRLIVRGAREHNLKNVSLDLPRDSLIVFTGLSGSGKSSLAFDTI...           double
47910  MQHKTIMDKIIIQGARENNLKNIFLEIPKNQFVVFTGLSGSGKSTL...           double
47966  MTMESGAENQQSGDAAVTEAENQQMTVQAQPQIATLAQVSMPAAHA...           double
47967  MAAKKTVTKADLVDQVAQATGLKKKDVKAMVDALLAKVEEALANGS...           double

[965 rows x 2 columns]

In [12]:
dna_concat = pd.concat([dna_single, dna_double], axis=0)
dna_concat.to_csv("../dataset_to_encode/single_double_dna.csv", index=False)

In [14]:
dna_concat['type_interaction'].value_counts()

double    965
single    268
Name: type_interaction, dtype: int64

In [13]:
df_data_dna_binding_filter['dna_interaction'].value_counts()

0.0    26982
1.0    20518
Name: dna_interaction, dtype: int64